<div class="center-block col-xs-12 text-center" ><ul class="list-group">
        <li><h3>¿Seguro que desea autorizar este viaje?<strong class=""><ul class="nav navbar-nav">
            <li><a href="#!/trips">INICIO</a></li>
            </ul>
        </strong></h3></li><li><strong class="pull-right" ng-show="auth">Bienvenido: {{user}} <a href="#!/logout">Cerrar sesión</a></strong></li><br/>
    </ul>
</div>

<div class="center-block w-xx w-auto-xs p-v-md text-center">
<div class="p-lg panel log-no-bg text-color">
    <ul class="list-group catBlock">
        <li class="list-group-item">
            <p>Fecha de inicio: {{trip.startingDate}}</p>
        </li>
        <li class="list-group-item">
            <p>Fecha de termino: {{trip.finishingDate}}</p>
        </li>
        <li class="list-group-item">
            <p>Hora de inicio: {{trip.startingTime}}</p>
        </li>
        <li class="list-group-item">
            <p>Hora de termino: {{trip.finishingTime}}</p>
        </li>
        <li class="list-group-item">
            <p>Pasajeros: {{trip.passengers}}</p>
        </li>
        <li class="list-group-item">
            <p>Destinos: {{trip.destinations}}</p>
        </li>
        <li class="list-group-item">
            <p>Líder del grupo: {{trip.groupLeader}}</p>
        </li>
        <li class="list-group-item" ng-controller="IdDepController">
            <p>Departamento: {{trip.department}}</p>
        </li>
        <li class="list-group-item">
            <p><a ng-href="#!/document/{{trip.id}}">Documento</a></p>
        </li>
        <li class="list-group-item" >
            <p>Permiso del departamento: {{trip.departmentPermission}}</p>
        </li>
        <li class="list-group-item" >
            <p>Permiso de la subdirección: {{trip.submanagementPermission}}</p>
        </li>
    </ul>
    <br/>
    <label>Motivos:</label><textarea disabled="true" ng-value="trip.reasons" class="form-control"></textarea>
    <div class="col-md-12">
                        <div class="form-group center">
                            <button type="submit" class="btn btn-default" ng-click="allow()">
                                <span>ACEPTAR</span>
                            </button>
                        </div>
    </div>
</div>
</div>