<div class="center-block w-xx w-auto-xs p-v-md text-center">
<div class="p-lg panel log-no-bg text-color">
<div>
    <h3>Viajes del departamento </h3>

    <div class="center"><strong><a class="center" href="#!/trips">INICIO</a></strong>
    <strong class="pull-right" ng-show="auth">Bienvenido: {{user}} <a href="#!/logout">Cerrar sesión</a></strong>
    <br/></div><br/><br/>
    <ul class="list-group visible-lg visible-md visible-sm" ng-repeat="trip in trips">
        <li><div>Fecha de inicio: {{trip.startingDate}}<strong class="pull-right"><ul class="nav navbar-nav">
            <li><a ng-href="#!/dep/trip/{{trip.id}}">Autorizar viaje</a></li></ul>
        </strong></div></li><br/>
    </ul>
    <ul class="list-group visible-xs" ng-repeat="trip in trips">
        <li>Fecha de inicio: {{trip.startingDate}}</li><li><ul class="nav navbar-nav">
        <li><a ng-href="#!/dep/trip/{{trip.id}}">Autorizar viaje</a></li></ul></li>
    </ul>
</div></div></div>