            <div class ="center" ng-include="'portions/edit.html'">
            </div>
            <div class="pad center-block col-xs-8 text-center" ><ul class="list-group">
    <li ><strong class="center"><a class="le" href="#!/trips">INICIO</a></strong>
        <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong></li>
    </ul>
    </div>
<section id="container-reg" class="container">
    <div class="col-md-12 margin-form">
        <div class="col-md-12" >
             <div class="form-register" ng-controller="EditTripController">
                <form name="registerForm" ng-submit="sending()">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Fecha de inicio</label>
                            <input type="text" class="form-control" ng-value="trip.startingDate" bs-datepicker  data-date-format="yyyy-MM-dd" data-date-type="string" placeholder="Fecha de inicio del viaje"  required ng-model="formDat.startingDate">
                        </div>
                        <div class="form-group">
                            <label>Fecha de termino</label>
                            <input type="text" class="form-control" ng-value="trip.finishingDate" bs-datepicker data-date-format="yyyy-MM-dd" data-date-type="string" required placeholder="Fecha de terminación del viaje" ng-model="formDat.finishingDate">
                        </div>
                        <div class="form-group">
                            <label>Hora en que inicia el viaje</label>
                            <input type="text" class="form-control"  ng-value="trip.startingTime" required placeholder="Hora en que inicia el viaje" ng-model="formDat.startingTime">
                        </div>
                        <div class="form-group">
                            <label>Hora en que termina el viaje</label>
                            <input type="text" class="form-control" ng-value="trip.finishingTime" required placeholder="Hora aproximada en que termina" ng-model="formDat.finishingTime">
                        </div>
                     </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Pasajeros</label>
                            <input type="text" class="form-control" ng-value="trip.passengers" placeholder="Cantidad de pasajeros" ng-model="formDat.passengers" required>
                        </div>
                        <div class="form-group">
                            <label>Destinos</label>
                            <input type="text" class="form-control" ng-value="trip.destinations" placeholder="Ciudades a visitar" ng-model="formDat.destinations"required>
                        </div>
                        <div class="form-group">
                            <label>Lider del grupo</label>
                            <input type="text" class="form-control" ng-value="trip.groupLeader" placeholder="Responsable del grupo" ng-model="formDat.groupLeader" required>
                        </div>
                        <div class="form-group">
                            <label>Lugar de salida</label>
                            <input type="text" class="form-control" ng-value="trip.departurePlace" placeholder="Lugar de donde comienza el viaje" ng-model="formDat.departurePlace"required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Motivos</label>
                            <textarea class="form-control" ng-value="trip.reasons" placeholder="Para qué se realiza el viaje, a quienes se traslada, etc." ng-model="formDat.reasons" required></textarea>
                          </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group center">
                            <button type="submit" class="btn btn-default" >
                                <span>ACEPTAR</span>
                            </button>
                        </div>
                    </div>
                </form>
             </div>
        </div>
    </div>
</section>